<h1>Meus Pedidos</h1>
<% if @orders.present? %>
  <% @orders.each do |order| %>
    <h3><%= Order.human_attribute_name(:code)%>: <%= order.code %></h3>
    <h3><%= Order.human_attribute_name(:warehouse_id)%>: <%= order.warehouse.code %> - <%= order.warehouse.name %></h3>
    <h3><%= Order.human_attribute_name(:supplier_id)%>: <%= order.supplier.brand_name %></h3>
  <% end %>
<%else%>
  <h2>Você ainda não possui nenhum pedido</h2>
<% end %>  
