<h1>Resultados da Busca por: <%= @code %></h1>
<% if @orders.present? %>
  <h3> <%= @orders.count %> <%= Order.model_name.human(count: @orders.count).downcase %> <%= t(:found, count: @orders.count) %>% </h3>
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
<%else%>
  <h2>Não foi possível encontrar nenhum pedido com essas informações.</h2>
<% end %>  
