<h1><%= t('activerecord.models.supplier', count: @suppliers.count)%></h1>

<% if @suppliers.empty? %>
<h2>Não existe nenhum fornecedor cadastrado.</h2>
<% else %>
<table>
  <thead>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Email</th>
  </thead>
  <tbody>
  <% @suppliers.each do |supplier| %>
  <tr>
    <td><%= link_to supplier.brand_name, supplier %></td>
    <td><%= supplier.full_address %></td>
    <td><%= supplier.email %></td>
  </tr>
  <%end%>
  </tbody>
</table>
<% end %>

<%= link_to 'Cadastrar Fornecedor', new_supplier_path %>

