<h1>Galpão <%= @warehouse.code %></h1>
<p><%=@warehouse.description%></p>
<h3>Nome: <%= @warehouse.name %></h3>
<h3>Cidade: <%= @warehouse.city %></h3>
<h3>Área: <%= @warehouse.area %> m²</h3>
<h3>Endereço: <%= @warehouse.address %>. CEP: <%= @warehouse.cep %></h3>