<section>
  <h2>Galpão <%= @warehouse.code %></h2>
  <div>
    <p><strong>Descrição:</strong> <%=@warehouse.description%></p>
    <ul>
      <li><strong>Nome:</strong> <%= @warehouse.name %></li>
      <li><strong>Cidade:</strong> <%= @warehouse.city %></li>
      <li><strong>Área:</strong> <%= @warehouse.area %> m²</li>
      <li><strong>Endereço:</strong> <%= @warehouse.address %>. CEP: <%= @warehouse.cep %></li>
    </ul>
  </div>
</section>

<div>
  <%= link_to 'Editar', edit_warehouse_path %>
  <%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete) %>
</div>

<div>
  <%= link_to 'Voltar', root_path %>
</div>